html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

/*  */
body{
    background-image: url("../backgroundpic.jpg");
	background-attachment: fixed;
    background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  

}

/* styling for search container */
.searchContainer{
	
	background-color: rgba(28, 41, 56, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 30px;
    padding: 30px 30px 70px
}
/* Styling for search results container */
.searchResultsContainer{
	background-color: rgba(28, 41, 56, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 20px;
    
}
/* Styling for film details container */
.filmDetailsContainer{
	background-color: rgba(28, 41, 56, 0.9);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 20px;
    
}

/* Styling for add actor container */
.addActorContainer{
	background-color: rgba(28, 41, 56, 0.9);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 20px;
    
}

/* Styling for add customer container */
.addCustomerContainer{
	background-color: rgba(28, 41, 56, 0.9);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 20px;
    
}
/* Styling for actor selected div */
#actorSelected{
    background-color: rgba(28, 41, 56, 0.9);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border: 2px solid white
}
/* Button color */
button.btn{
	background-color: #364F6B;
}
.error {
    border: 1px solid red;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

#searchresultshead{
    font-size: 64px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}